<h1>Sample App</h1>
<p>This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>

<<<<<<< HEAD
<%= link_to "Sign up now!",signup_path, :class => "signup_button round"%>
=======

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
>>>>>>> 2678008f7becf805d70aa567e6dca867c05a5feb
